html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.circle_image{
  border-radius: 50%;
}

.flex-2 {
  flex: 2;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

#particles {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

